.box {
  height: 6.4rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  height: 1.6rem;
}

.inputBox {
  height: 4rem;
  border: 1px solid #bdbdbd;
  padding-left: 13px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputField {
  align-self: stretch;
  width: 24.2rem;
  border: none;
}

.inputField:focus-visible {
  outline: none;
}

.wrong {
  display: none;
}

.correct {
  display: block;
}
