.submitButton {
  height: 4.8rem;
  background-color: var(--color-secondary-purple-main);
  text-align: center;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.register {
  display: flex;
  cursor: pointer;
}

.register > * {
  text-decoration: none;
}

.not {
  color: var(--color-gray-600);
  margin-right: 5px;
}

.create {
  color: #000;
  display: flex;
  align-items: center;
}

@media (max-width: 31.25em) {
  .register {
    flex-direction: column;
  }
}
