.box {
  margin: 372px 0px 0px 141px !important;
  width: 552px !important;
  height: 279px !important;
  padding-top: 73.5px;

  font-style: normal;
  font-weight: normal;
  font-size: 47.78px;
  line-height: 60px;
}
