.box {
  background-color: white;
  height: 8rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input {
  position: relative;
  width: 50%;
  height: 3rem;
  display: flex;
  align-items: center;
}

.inputBox {
  width: 100%;
  padding-left: 10px;

  border: 1px solid #eeeeee;
  border-radius: 20px;
  align-self: stretch;
}

.inputBox:focus-visible {
  outline: none;
}

.button {
  position: absolute;
  right: 1rem;
  background-color: white;
  border: none;
  color: #8e8e8e;
}

.icons {
  width: 12.2rem;
  color: var(--color-primary-gray-light);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
