.firstName {
  grid-column: 1/2;
  grid-row: 1/2;
}

.lastName {
  grid-column: 2/-1;
  grid-row: 1/2;
}

.email {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.password {
  grid-column: 1/2;
  grid-row: 3/4;
}

.passwordConfirm {
  grid-column: 2/-1;
  grid-row: 3/4;
}

.inputBox {
  display: flex;
  flex-direction: column;
}

.inputBox > span {
  margin-bottom: 0.8rem;
}

.input {
  border: 1px solid var(--color-gray-400);
  height: 4rem;
  padding-left: 1.2rem;
}
.input:focus-visible {
  outline: none;
}
