.checkBox {
  display: flex;
  height: 2.4rem;
  justify-content: space-between;
}

.checkBoxText {
  width: 59rem;
  color: var(--color-gray-600);
}

.signUpButton {
  height: 4.8rem;
  cursor: pointer;

  background: var(--color-secondary-purple-main);
  border-radius: 4px;
  border: none;

  color: #fff;
}

.routing {
  cursor: pointer;
  width: 187px;
  height: 12px;

  display: flex;
}

.routing > * {
  text-decoration: none;
}

.question {
  margin-right: 5px;
  color: var(--color-gray-600);
}

.logIn {
  color: black;
  display: flex;
  align-items: center;
}
