.TagRegion {
  grid-row: 2/-1;
  grid-column: 1/2;
  color: var(--color-primary-gray-main);

  display: flex;
  flex-direction: column;
}

.TagRegion > *:not(.TagBox) {
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
}

.TagBox {
  color: inherit;
  background-color: white;
  border: 1px solid var(--color-primary-gray-light);
  align-self: flex-start;

  margin-bottom: 0.8rem;
  padding: 0.4rem 0.6rem;
}

.dollar {
  margin-top: 0.8rem;
}

.TagRegion > * > span {
  margin-left: 0.6rem;
}
