.TagRegion {
  float: left;
  width: 192px;

  color: #616161;

  font-size: 11.11px;
  line-height: 12px;
}

.TagBox {
  color: #616161;
  background-color: white;
  border: 1px solid #8e8e8e;

  margin: 0px 0px 8px 0px !important;
  padding: 4px 6px 4px 6px !important;

  font-size: 11.11px;
  line-height: 12px;
}

.dollar {
  width: 120px;
  height: 16px;

  margin: 8px 0px 16px 0px;
}

.dollarText {
  margin-left: 4px;
  font-size: 11.11px;
  line-height: 12px;
  vertical-align: middle;
}

.shipping {
  width: 135px;
  height: 16px;

  margin-bottom: 16px;
}

.shippingText {
  width: 115px;
  margin-left: 5px;
}

.promotionText {
  width: 102px;
  margin-left: 5px;
}
