.CommentContainer {
  grid-row: 3/4;
  grid-column: 2/3;

  border-top: 1px solid var(--color-gray-400);
  padding-top: 16px;
}

.comment {
  display: flex;
  flex-direction: column;
}

.comment > p {
  margin-bottom: 1.6rem;
}

.FormBox {
  position: relative;
  margin-top: 12px;
  display: flex;
  height: 4rem;
  border: 1px solid var(--color-gray-400);
  border-radius: 10px;
  background: var(--color-gray-50);
  display: flex;
  align-items: center;
}
.CommentBox {
  width: 552px;
  height: 40px;
  border: none;
  background: none;
}
.CommentBox:focus-visible {
  outline: none;
}

.IconContainer {
  position: absolute;
  right: 0.5rem;
  border: none;
  background: none;

  display: flex;
  align-items: center;
}
