.NextPageContainer {
  display: flex;
  background: white;
  width: 200px;
  height: 944px;
  position: sticky;
  top: 0px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  float: right;
  cursor: pointer;
}

.PrevPageContainer {
  background: white;
  width: 200px;
  height: 944px;
  position: sticky;
  top: 0px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: flex;
  float: left;
  cursor: pointer;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.NextPageContainer:hover {
  display: flex;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    rgba(248, 248, 248, 0.71875) 34.38%,
    #e8e8e8 100%
  );
  width: 200px;
  height: 944px;
  position: sticky;
  top: 0px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  float: right;
  visibility: visible;
}

.NextPageContainer:hover + .ShowIcon {
  display: none;
}
.PrevPageContainer:hover {
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    rgba(248, 248, 248, 0.71875) 34.38%,
    #e8e8e8 100%
  );
  width: 200px;
  height: 944px;
  position: sticky;
  top: 0px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: flex;
  float: left;

  transform: matrix(-1, 0, 0, 1, 0, 0);
}
