.card {
  position: relative;
  width: 34rem;
  height: 44.9rem;
  background-color: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.anchor {
  height: 40.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.card > a:active,
.card > a:hover {
  color: none;
  text-decoration: none;
}

.image {
  height: 24.2rem;
}

.image img {
  display: block;
  border-radius: 10px 10px 0px 0px;
  width: 34rem;
  height: 24.2rem;
}

.cardBody {
  height: 13.8rem;
  width: 30rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
